/*Reset de css, elimina los etilos por defecto de css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variables de colores*/
:root {
    --color-fondo: rgb(248, 243, 217);
    --color-secundario: rgb(235, 229,194);
    --color-destacado: rgb(185, 178, 138);
    --color-texto: rgb(80, 75, 56)
}

/*Estilos generales*/
body {
    font-family: "roboto";
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

/*Menu de navegación*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-destacado);
    padding: 15px 30px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

/*Enlaces de navegación*/
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    position: relative;
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: var(--color-texto);
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s ease-in-out;
}

.nav-links a:hover {
    background-color: var(--color-secundario);
    border-radius: 5px;
}

/*Menú desplegable de tienda*/
.submenu-container {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    background-color: var(--color-secundario);
    padding: 10px;
    border-radius: 5px;
    top: 100%;
    left: 0;
    width: 150px;
    z-index: 100; /*Para que no se esconda abajo de otros elementos*/
}

.submenu-container:hover .submenu {
    display: block;
}

.submenu a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding: 8px 10px;
    transition: background-color 0.3s ease;
}

.submenu a:hover {
    background-color: var(--color-secundario);
}

/*Botón hamburguesa (oculto en desktop)*/
.menu-hamburguesa {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 35px;
    height: 30px;
    justify-content: space-between;
}

.menu-hamburguesa div {
    width: 30px;
    height: 4px;
    background-color: var(--color-texto);
    transition: 0.3s;
}

/*Ocultar checkbox*/
#menu-checkbox {
    display: none;
}

/*Búsqueda y carrito*/
.nav-right {
    display: flex;
    align-items: center;
}

#carouselExampleDark img {
    object-fit: cover;
    height: 700px;
    width: 100%; 
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    text-align: center;
    background-color: var(--color-secundario);
}

.intro p {
    max-width: 800px;
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--color-texto);
    margin: 0;
}

.search-box input {
    padding: 5px;
    border: 1px solid var(--color-texto);
    border-radius: 5px;
}

/* Contenedor de las cards */
.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos generales para cada card */
.todas-las-card {
    background: var(--color-fondo);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 15px;
    width: 100%; /* Se adaptan al grid */
}

/* Imagen dentro de la card */
.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

/* Botón */
.btn-primary {
    background-color: #5a3e36;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    width: 100%;
}

.btn-primary:hover {
    background-color: #402b24;
}

.boton-carrito {
    background-color: #5a3e36;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    width: 100%;
}

.boton-carrito:hover {
    background-color: #402b24;
}

.boton-carrito {
    background-color: #5a3e36;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.boton-carrito:hover {
    background-color: #402b24;
}

/* Sección de íconos */
.iconsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.iconsection div {
    text-align: center;
    max-width: 300px;
    padding: 10px;
}

.iconsection i {
    font-size: 2rem;
    color: #5a3e36;
}

/* Contenedor del botón "Ver más" */
.ver-mas-container {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilo del botón "Ver más" */
.btn-ver-mas {
    background-color: #5a3e36;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.btn-ver-mas:hover {
    background-color: #402b24;
}

/*Sección sobre mí*/
.sobremi {
    background-color: var(--color-fondo);
    color: #333;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
}

/*Sección en dos columnas*/
.section-sobremi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin-bottom: 40px;
}

/*Estilos para los textos*/
.text-sobremi {
    width: 45%;
    font-size: 15px;
    text-align: center;
    margin: 15px;
}

/*Estilos para las imágenes*/
.image-sobremi {
    width: 70%;
    margin-top: 20px;
}

.image-sobremi img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/*Estilos talleres*/
.image-talleres img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
}

.text-container-taller {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-texto);
    background-color: var(--color-fondo);
    margin: 15px;
}

.text-container-aditional {
    text-align: left;
    color: var(--color-texto);
    margin: 15px;
}

/*Estilos generales*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
}

h5 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/*Estilos seccion contacto*/
.contacto-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--color-secundario);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 900px;
}

/* Información de contacto */
.contacto-info {
    width: 45%;
}

.contacto-info p {
    margin: 5px 0;
}

.contacto-info a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.contacto-info a:hover {
    text-decoration: underline;
}

/*Estilos formulario*/
.contacto-form {
    width: 60%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    background: var(--color-secundario);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Campos de entrada */
.contacto-form input,
.contacto-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Mensaje ocupa 2 columnas */
.contacto-form textarea {
    grid-column: span 2;
    height: 100px;
    resize: none;
}

/* Botón de enviar ocupa 2 columnas */
.contacto-form input[type="submit"] {
    grid-column: span 2;
    background-color: #333;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    transition: background 0.3s;
}

.contacto-form input[type="submit"]:hover {
    background-color: #555;
}

/*Ubicacion*/
.ubicacion {
    background: white;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--color-secundario);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 900px;
}

/* Contenedor de ubicación */
.container-ubicacion {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Cada sección de ubicación */
.section-ubicacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

/* Última sección sin borde */
.section-ubicacion:last-child {
    border-bottom: none;
}

/* Texto de ubicación */
.text-ubicacion, .contacto-info {
    width: 20%;
}

/* Google Maps */
.ubi-local iframe,
.ubi-taller iframe {
    width: 500px;
    height: 250px;
    border-radius: 8px;
}

/*Estilos del footer*/
footer {
    background-color: var(--color-destacado);
    padding: 20px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-column {
    flex: 1;
    padding: 10px;
    margin: 10px;
}

.footer-column h5 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.enlaces-footer {
    list-style: none;
    padding: 0;
    margin: 0;
}

.enlaces-footer li {
    margin-bottom: 5px;
}

.enlaces-footer li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.enlaces-footer li a:hover {
    color: var(--color-texto);
}

.mail-footer {
    color: var(--color-texto);
    text-decoration: none;
}

.mail-footer:hover {
    color: var(--color-texto);
}

.footer-divider {
    width: 100%;
    border-top: 1px solid black;
    margin: 20px 0;
}

footer .fa-brands,
footer .fa-regular {
    margin-right: 10px;
    font-size: 20px;
}
footer .fa-brands {
    font-size: 25px; /* Tamaño más grande para íconos sociales */
}

footer .fa-regular {
    font-size: 20px; /* Tamaño normal para íconos de contacto */
}

.todos-los-derechos {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    margin-right: 10px;
    font-size: 15px;
    color: var(--color-texto);
}

footer .footer-column i {
    margin-right: 15px;
}

/*Responsive*/
/*Tablets y móviles */
@media (max-width: 992px) {
/* Mostrar el menú hamburguesa */
.menu-hamburguesa {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 101;
}

    /* Ocultar la navegación por defecto */
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--color-destacado);
        text-align: center;
        padding: 20px 0;
        z-index: 100;
    }

    /* Mostrar el menú cuando se hace clic en el checkbox */
    #menu-checkbox:checked ~ .nav-links {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    /* Ajuste de menú desplegable en móvil */
    .submenu {
        position: relative;
        width: 100%;
        text-align: center;
    }

    /* Asegurar que los íconos de búsqueda y carrito se ajusten bien */
    .nav-right {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
    }

    .search-box input {
        width: 70%;
    }

    .cart-icon {
        margin-left: 10px;
    }

    /* Ajuste del logo */
    .logo img {
        width: 80px; /* Reducir el tamaño del logo en móviles */
        height: auto;
    }

    .ver-mas-container {
        justify-content: center;
    }
}

/* Escritorio */
@media (min-width: 993px) {
    .menu-hamburguesa {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
    }

    .submenu {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
    }

    .submenu-container:hover .submenu {
        display: block;
    }

    /* Asegurar que el logo y la búsqueda/carrito se ajusten bien */
    .nav-right {
        display: flex;
        align-items: center;
    }

    .search-box input {
        padding: 5px;
        border: 1px solid var(--color-texto);
        border-radius: 5px;
    }

    /* Ajuste del logo */
    .logo img {
        width: 100px; /* Logo original en escritorio */
    }
}

/* Tablets (hasta 768px) */
@media (max-width: 768px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en tablet */
    }

    .iconsection {
        flex-direction: column; /* Íconos en columna */
        text-align: center;
    }

    .intro p {
        font-size: 1rem;
    }

    .section-sobremi {
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
    }

    .text-sobremi, .image-sobremi {
        width: 80%;
    }

    .image-sobremi {
        margin-top: 20px;
    }

    .footer-container {
        justify-content: center;
        text-align: center;
    }
    
    .footer-column {
        flex: none;
        padding: 10px 20px;
    }
    
    .footer-column:not(:last-child) {
        border-bottom: 1px solid #ccc;
    }
    
    footer .fa-brands {
        margin-right: 15px;
        font-size: 30px;
    }
    
    footer .fa-regular {
        margin-right: 10px;
    }
}

/* Celulares (hasta 480px) */
@media (max-width: 480px) {
    .cards-container {
        grid-template-columns: 1fr; /* 1 columna en móvil */
    }

    .btn-primary {
        font-size: 14px;
        padding: 8px 12px;
    }

    .ver-mas-container {
        justify-content: center;
        padding: 10px;
    }
    
    .btn-ver-mas {
        padding: 12px 24px;
        font-size: 16px;
    }

    .contacto-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contacto-info,
    .contacto-form {
        width: 100%;
    }

    .contacto-form {
        grid-template-columns: 1fr;
    }

    .ubicacion {
        text-align: center;
    }

    .section-ubicacion {
        flex-direction: column;
    }

    .text-ubicacion,
    .ubi-local iframe,
    .ubi-taller iframe {
        width: 100%;
    }
}
