/* Botón */
.btn-primary,
.boton-carrito {
    background-color: #5a3e36;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    width: 100%;
    &:hover {
        background-color: #402b24;
    }
}

.boton-carrito {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
}
