/* Contenedor del botón "Ver más" */
.ver-mas-container {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    .btn-ver-mas {
        background-color: #5a3e36;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bold;
        transition: background 0.3s ease;
        &:hover {
            background-color: #402b24;
        }
    }
}




